[Desktop Entry]
Name=Steam Big Picture Mode
Exec=/usr/bin/zeropoint-steam-bpm %U
Icon=steam
Terminal=false
Type=Application
Categories=Network;FileTransfer;Game;
