[Desktop Entry]
Type=Application
NoDisplay=false
Terminal=false
Exec=xdg-open https://universal-blue.discourse.group/c/zeropoint/
Icon=/usr/share/ublue-os/zeropoint/discourse.svg
Name=Discourse
Comment=Universal Blue Forums
Categories=Utility;
