[Desktop Entry]
Type=Application
Name=System Update
Comment=Update zeropoint, Flatpaks, Distrobox containers, and more
Icon=/usr/share/ublue-os/zeropoint/update.svg
Categories=ConsoleOnly;System;
Terminal=true
Exec=/usr/bin/ujust update
