[Unit]
Description=Configure zeropoint for current user

[Service]
Type=simple
ExecStart=/usr/libexec/zeropoint-user-setup

[Install]
WantedBy=default.target
